* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
  }

.search-history-btn {
  background-color: navy;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#search-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body {
    background-color: powderblue;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.col-sm-12 {
    background-color: navy;
    color: white;
    border-radius: 5px;
    width: 100%;
}


  